<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create_Profile</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<div th:insert="~{home/nav :: nav}"></div>
<div class="create_profile_form">
    <h1>CREATE NEW PROFILE</h1>
    <form action="/new_profile" method="post" onsubmit="return validateForm()">

    <label for="firstName"> First Name: </label>
    <input type="text" id="firstName" name="firstName">
    <br> <br>

    <label for="lastName"> Last Name: </label>
    <input type="text" id="lastName" name="lastName">
    <br>
    <br>
    <label for="email"> Email: </label>
    <input type="text" id="email" name="email">
    <br>
    <br>
    <label for="dateOfBirth"> Date of Birth: </label>
    <input type="date" id="dateOfBirth" name="dateOfBirth">
    <br>
    <br>
    <label for="gender"> Gender </label>
    <select id="gender" name="gender">
        <option value="FEMALE">Female</option>
        <option value="MALE">Male</option>
        <option value="OTHER">Other</option>
    </select>
    <br>
    <br>
        <div class="buttons-container">
    <button class="button" type="submit"> Create Profile </button>
        </div>
</form>
    <div class="buttons-container">
<form action="/" method="get">
    <button class="button">Cancel</button>
</form>
    </div>
</div>


 <!-- I know this is javascript but what evs -->
<script>
    function validateForm() {
        // Check if all required fields are filled
        if (!document.getElementById('firstName').value ||
            !document.getElementById('lastName').value ||
            !document.getElementById('email').value ||
            !document.getElementById('dateOfBirth').value ||
            !document.getElementById('gender').value) {
            alert("Please fill out all required fields.");
            return false; // Prevent form submission
        }
        return true; // Allow form submission if all fields are filled
    }
</script>
</body>
</html>