<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
  <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
<h1 class="name" th:text="${profile.firstName + ' ' + profile.lastName}" ></h1>
<div class="profile_information">
  <img src="/icon" alt="profile_icon">
  <p th:text="${profile.gender}"></p>
  <img src="/dateofbirth.png" alt="date_of_birth_icon">
  <p th:text="${profile.dateOfBirth}"></p>
  <img src="/mail" alt="mail_icon">
  <p th:text="${profile.email}"></p>
</div>
</body>
</html>